<div class="container-home">
  <% if player_signed_in? %>
    <h1>Welcome <%= current_player.name %></h1>
  <% else %>
    <h1>Keep the<br>móiminteam.</h1>
    <h2>Sign in for more.</h2>
  <% end %>
</div>
