<div class='container-home'>
  <% if player_signed_in? %>
    <h1>Welcome <%= current_player.name %></h1>
    <div class='avatar'>
      <%= avatar_for(current_player) %>
    </div>
  <% else %>
    <h1>Keep the<br>móiminteam.</h1>
    <h2>Sign in for more.</h2>
  <% end %>
</div>
