.btn {
  font-style: normal;
}

/* Button solid */
 .btn-black {
  background-color: $gray;
  border: 2px solid $gray;
  color: white;
  &:hover {
    background-color: black;
    border: 2px solid black;
  }
}

/* Button outline */
.btn-outline {
  border: 2px solid $gray;
  color: $gray;
  &:hover {
    background-color: $gray;
    border: 2px solid $gray;
    color: white;
  }
}

.btn-outline-black {
  background: none;
}

.btn-outline-orange {
  background-color: $orange;
}

/* Button rounded */
.btn-rounded {
  border-radius: 25px;
  padding: 10px 30px;
}

.btn-rounded-orange {
  &:hover {
    background-color: $orange;
    border: 2px solid $orange;
  }
}

/* Button margin */
.btn-margin-left {
  margin-left: 10px;
}
