nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $orange;
  #logo-navbar {
    text-decoration: none;
    color: $gray;
    font-style: normal;
    &:hover {
      color: black;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
